#------------------------------------------------------------------------------#
#
# Array definition file for the ASKAP ES_6 configuration.
#
#------------------------------------------------------------------------------#

# Name of the telescope
telescope = ASKAP

# Name of the configuration
config = ES_6

# Latitude of the array centre
latitude_deg = -26.697001

# Antenna diameter
diameter_m = 12.000000

# Antenna coordinates (offset E, offset N)
-73.992000, 31.503000
-8.979000, 35.008000
26.978000, -13.011000
395.925000, 269.476000
-24.860000, -460.009000
438.720000, -364.005000
