#-----------------------------------------------------------------------------#
#                                                                             #
# Array definition file for ALMA-ACA, Cycle 6, 7-m antennas.                  #
#                                                                             #
#-----------------------------------------------------------------------------#
# Baseline Range: 9m-45m

# Name of the telescope
telescope = ALMA-ACA

# Name of the configuration
config = Cycle6

# Latitude of the array centre
latitude_deg = -23.0229

# Antenna diameter
diameter_m = 7.0

# Antenna coordinates (offset E, offset N)
-37.01384552,	-551.9319303
-49.28641965,	-547.2313425
-58.3714508,	-591.2840731
-38.88669906,	-585.9530019
-47.99531371,	-564.8585951
-55.96985522,	-568.8204563
-63.03702802,	-574.7165969
-48.84480314,	-574.4357151
-35.89239576,	-569.6206755
-65.31846157,	-560.7014943
