#-----------------------------------------------------------------------------#
#                                                                             #
# Array definition file for ALMA, Cycle 1, Config 5, 7-m antennas.            #
#                                                                             #
#-----------------------------------------------------------------------------#

# Name of the telescope
telescope = ALMA

# Name of the configuration
config = Cycle1-7m-5

# Latitude of the array centre
latitude_deg = -23.028

# Antenna diameter
diameter_m = 7.0

# Antenna coordinates (offset E, offset N)
-19.39531371, 125.8414049
-27.36985522, 121.8795437
-20.24480314, 116.2642849
-36.71846157, 129.9985057
-34.43702802, 115.9834031
-8.3451361, 130.6903099
-20.6177138, 135.3908878
-21.94653873, 103.316443
-12.08629067, 112.719949