#------------------------------------------------------------------------------#
#
# Array definition file for the ATCA 750A configuration.
#
#------------------------------------------------------------------------------#

# Name of the telescope
telescope = ATCA

# Name of the configuration
config = 750A

# Latitude of the array centre
latitude_deg = -30.312906

# Antenna diameter
diameter_m = 22.000000

# Antenna coordinates (offset E, offset N)
-627.551000, 0.000000
-872.449000, 0.000000
-1010.204000, 0.000000
-1285.714000, 0.000000
-1362.245000, 0.000000
-4377.551000, 0.000000
