#------------------------------------------------------------------------------#
#
# Array definition file for the ATCA H214_No_6 configuration.
#
#------------------------------------------------------------------------------#

# Name of the telescope
telescope = ATCA

# Name of the configuration
config = H214_No_6

# Latitude of the array centre
latitude_deg = -30.312906

# Antenna diameter
diameter_m = 22.000000

# Antenna coordinates (offset E, offset N)
122.449000, 0.000000
30.612000, 0.000000
-107.143000, 0.000000
0.000000, 76.531000
0.000000, 214.286000
