#------------------------------------------------------------------------------#
#
# Array definition file for the ATCA H75 configuration.
#
#------------------------------------------------------------------------------#

# Name of the telescope
telescope = ATCA

# Name of the configuration
config = H75

# Latitude of the array centre
latitude_deg = -30.312906

# Antenna diameter
diameter_m = 22.000000

# Antenna coordinates (offset E, offset N)
30.612000, 0.000000
0.000000, 0.000000
-45.918000, 0.000000
0.000000, 30.612000
0.000000, 76.531000
-4377.551000, 0.000000
