#------------------------------------------------------------------------------#
#
# Array definition file for the ATCA 750B configuration.
#
#------------------------------------------------------------------------------#

# Name of the telescope
telescope = ATCA

# Name of the configuration
config = 750B

# Latitude of the array centre
latitude_deg = -30.312906

# Antenna diameter
diameter_m = 22.000000

# Antenna coordinates (offset E, offset N)
122.449000, 0.000000
-45.918000, 0.000000
-107.143000, 0.000000
-520.408000, 0.000000
-642.857000, 0.000000
-4377.551000, 0.000000
