#-----------------------------------------------------------------------------#
#                                                                             #
# Array definition file for the Plateau de Bure C configuration               #
#                                                                             #
#-----------------------------------------------------------------------------#

# Name of the telescope
telescope = PdB

# Name of the configuration
config = C

# Latitude of the array centre
latitude_deg = 44.4

# Antenna diameter
diameter_m = 15.0

# Antenna coordinates (offset E, offset N)
-8.38739e+01, -1.25343e+01
-6.09522e+01, -1.93946e+01
3.84153e+01, -4.91363e+01
8.42842e+01, -6.28601e+01
1.03776e+01, 4.79797e+01
1.17488e+01, 9.59456e+01
