#-----------------------------------------------------------------------------#
#                                                                             #
# Array definition file for the Plateau de Bure A configuration               #
#                                                                             #
#-----------------------------------------------------------------------------#

# Name of the telescope
telescope = PdB

# Name of the configuration
config = A

# Latitude of the array centre
latitude_deg = 44.4

# Antenna diameter
diameter_m = 15.0

# Antenna coordinates (offset E, offset N)
-2.97151e+02, -1.18676e+01
-6.02186e+01, -8.27872e+01
9.26669e+01, -1.28551e+02
4.29027e+02, -2.29248e+02
-8.41247e+01, 1.58247e+02
-8.01994e+01, 2.94206e+02
