#-----------------------------------------------------------------------------#
#                                                                             #
# Array definition file for the SMA.                                          #
#                                                                             #
#-----------------------------------------------------------------------------#

# Name of the telescope
telescope = SMA

# Name of the configuration
config = Compact_N

# Latitude of the array centre
latitude_deg = 19.82428

# Antenna diameter
diameter_m = 6.0

# Antenna coordinates (offset E, offset N)
0.00, 0.00
-25.16, 1.37  
-18.98, 16.62  
-20.09, -15.73  
-68.02, 5.59  
-53.67, -42.30  
-71.55, 95.53  
-59.57, 34.35
