#-----------------------------------------------------------------------------#
#                                                                             #
# Array definition file for the SMA.                                          #
#                                                                             #
#-----------------------------------------------------------------------------#

# Name of the telescope
telescope = SMA

# Name of the configuration
config = Subcompact

# Latitude of the array centre
latitude_deg = 19.82428

# Antenna diameter
diameter_m = 6.0

# Antenna coordinates (offset E, offset N)
0.00, 0.00   
-7.47, -5.84 
-23.76, -8.23 
-25.16, 1.37 
-18.98, 16.62 
-10.11, 13.01 
-63.88, -22.06 
-59.57, 34.35
