#-----------------------------------------------------------------------------#
#                                                                             #
# Array definition file for the SMA.                                          #
#                                                                             #
#-----------------------------------------------------------------------------#

# Name of the telescope
telescope = SMA

# Name of the configuration
config = Extended

# Latitude of the array centre
latitude_deg = 19.82428

# Antenna diameter
diameter_m = 6.0

# Antenna coordinates (offset E, offset N)
0.00, 0.00
-68.02, 5.59
-27.03, 34.55
-53.67, -42.30
-178.82, 3.36
-136.76, 118.97
-71.55, 95.53
-133.60, -107.01
