#-----------------------------------------------------------------------------#
#                                                                             #
# Array definition file for the WSRT                                          #
#                                                                             #
#-----------------------------------------------------------------------------#

# Name of the telescope
telescope = WSRT

# Name of the configuration
config = A

# Latitude of the array centre
latitude_deg = 52.5

# Antenna diameter
diameter_m = 25.0

# Antenna coordinates (offset E, offset N)
-1.03425e+03, 0.0
-8.91625e+02, 0.0
-7.47127e+02, 0.0
-6.04507e+02, 0.0
-4.60011e+02, 0.0
-3.17393e+02, 0.0
-1.72898e+02, 0.0
-3.02809e+01, 0.0
1.14212e+02, 0.0
2.56828e+02, 0.0
2.94358e+02, 0.0
3.46900e+02, 0.0
1.58724e+03, 0.0
1.65855e+03, 0.0
