#------------------------------------------------------------------------------#
#
# Array definition file for the ATCA 6D configuration.
#
#------------------------------------------------------------------------------#

# Name of the telescope
telescope = ATCA

# Name of the configuration
config = 6D

# Latitude of the array centre
latitude_deg = -30.312906

# Antenna diameter
diameter_m = 22.000000

# Antenna coordinates (offset E, offset N)
1500.000000, 0.000000
1132.653000, 0.000000
336.735000, 0.000000
-948.980000, 0.000000
-1025.510000, 0.000000
-4377.551000, 0.000000
