#------------------------------------------------------------------------------#
#
# Array definition file for the ATCA 750D configuration.
#
#------------------------------------------------------------------------------#

# Name of the telescope
telescope = ATCA

# Name of the configuration
config = 750D

# Latitude of the array centre
latitude_deg = -30.312906

# Antenna diameter
diameter_m = 22.000000

# Antenna coordinates (offset E, offset N)
91.837000, 0.000000
61.225000, 0.000000
-336.735000, 0.000000
-520.408000, 0.000000
-627.551000, 0.000000
-4377.551000, 0.000000
