#-----------------------------------------------------------------------------#
#                                                                             #
# Array definition file for the CARMA interferometer                          #
#                                                                             #
#-----------------------------------------------------------------------------#

# Name of the telescope
telescope = CARMA

# Name of the configuration
config = A

# Latitude of the array centre
latitude_deg = 37.28

# Antenna diameter
diameter_m = 10.0

# Antenna coordinates (offset E, offset N)
8.18302e+02, 2.04186e-01
8.07646e+02, -3.39754e-01
5.44376e+02, -2.29016e-01
4.34593e+02, 6.94509e-02
1.13345e+02, 4.06284e-01
-4.46217e+01, 5.70657e-02
-3.82841e+01, -9.35252e-02
-2.16646e+02, 4.99693e-01
-1.35354e+02, -2.89188e-01
-2.84484e+02, 3.17855e-01
-2.02545e+02, -1.52447e-01
-1.80730e+02, -3.89000e-01
-2.97555e+02, 5.69721e-02
-6.37908e+02, 9.32449e-02
-6.80134e+02, -2.11821e-01