#-----------------------------------------------------------------------------#
#                                                                             #
# Array definition file for the Plateau de Bure B configuration               #
#                                                                             #
#-----------------------------------------------------------------------------#

# Name of the telescope
telescope = PdB

# Name of the configuration
config = B

# Latitude of the array centre
latitude_deg = 44.4

# Antenna diameter
diameter_m = 15.0

# Antenna coordinates (offset E, offset N)
-2.03803e+02, -2.77175e+01
-8.91587e+01, -6.20316e+01
9.42892e+01, -1.16939e+02
1.78376e+02, -1.42108e+02
7.15272e+00, 7.04366e+01
1.31441e+01, 2.78359e+02
