#-----------------------------------------------------------------------------#
#                                                                             #
# Array definition file for the SMA.                                          #
#                                                                             #
#-----------------------------------------------------------------------------#

# Name of the telescope
telescope = SMA

# Name of the configuration
config = VExtended

# Latitude of the array centre
latitude_deg = 19.82428

# Antenna diameter
diameter_m = 6.0

# Antenna coordinates (offset E, offset N)
0.00, 0.00
-53.67, -42.30
-71.55, 95.53
-133.60, -107.01
-349.68, 42.55
-479.03, 167.96
-251.59, 335.61
-73.52, 321.22
